extends ../layout.pug

block prepend styles
    link(rel='stylesheet' href='//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css')

block content
    div(class='breadcrumb')
        li= title
    form(id='update-form' name='update-form update-form-hidden' class='form-inline update-form' action='')
        div(class='form-group')
            div(class='col-md-7')
                label(for='update_code') New Code
            div(class='col-md-9')
                input(id='update_code' name='update_code' value='' class='form-control')
        div(class='form-group')
            div(class='col-md-7')
                label(for='update_name') New Name
            div(class='col-md-9')
                input(id='update_name' name='update_name' value='' class='form-control')
        div(class='form-group')
            div(class='col-md-7')
                label(for='update_weight') New Weight
            div(class='col-md-9')
                input(id='update_weight' name='update_weight' value='' class='form-control')
        div(class='form-group')
            div(class='col-md-12')
                button(id='btn-update' type='submit' class='btn btn-primary') Update
        div(class='form-group')
            div(class='col-md-12')
                button(id='btn-cancel' type='button' class='btn btn-danger') Cancel

    form(id='Shipment-add-form' name='Shipment-add-form' class='form-inline' action='')
        div(class='form-group')
            div(class='col-md-3')
                label(for='code') Code
            div(class='col-md-9')
                input(id='code' name='code' value='' class='form-control')
        div(class='form-group')
            div(class='col-md-3')
                label(for='name') Name
            div(class='col-md-9')
                input(id='name' name='name' value='' class='form-control')
        div(class='form-group')
            div(class='col-md-3')
                label(for='weight') Weight
            div(class='col-md-9')
                input(id='weight' name='weight' value='' class='form-control')
        div(class='form-group')
            div(class='col-md-12')
                button(type='submit' class='btn btn-primary') Create
        div.list-wrapper
            table(id='Shipment-list')
block append scripts
    script(src='/static/js/models/Shipment.js')
    script(src='//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js')
    script(src='/static/js/views/Shipment.js')
